html {font-family: Verdana, Geneva, Tahoma, sans-serif, Arial; display: inline-block; text-align: center;}
h1 {font-size: 2.0rem; color: white;}
h2 {font-size: 20px;}
p {font-size: 20px;}
a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }  
body {max-width: 600px; margin:0px auto; padding-bottom: 10px;}
#authentication-bar{background-color:mintcream; padding-top: 8px; padding-bottom: 8px;}
#user-details{text-align: right; color: cadetblue;}
  .content-sign-in {padding: 10px;}  
  .form-elements-container{padding: 16px; width: 250px; margin: 0 auto;}

  .microphone {cursor: pointer; margin-left: 5px; position: relative ; right: 0;}
  .microphone .recording-icon {
      display: none;
      width: 10px;
      height: 10px;
      background-color: #e22d2d;
      border-radius: 50%;
      animation: pulse 1.5s infinite linear;
  }
  .microphone.recording .recording-icon {display: inline-block;}
  .microphone.recording .fa-microphone {display: none;}
#search-input {  /*width: 300px; height: 25px; */
    width: 68%;
    font-size: 0.8rem;
    padding: 10px 15px;
    border: 2px solid #ccc;
    justify-content: center; align-items: center; border-radius: 3px; color: white;
  }
  .topnav {overflow: hidden; background-color: #24cfdb; color: white; font-size: 1rem; padding: 10px;}
  .card-grid {max-width: 400px; margin: 0 auto; display: grid; grid-gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
  .card {background-color: white; box-shadow: 2px 2px 8px 1px rgba(140,140,140,.5); padding-top: 5px;}
  .card-title {font-size: 1.2rem; color: #034078 ;}

input:checked +.slider {background-color: #2196F3}
  input:checked +.slider:before {-webkit-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px)}
  .switch {position: relative; display: inline-block; width: 116px; height: 64px} 
  .switch input {display: none}

  .slider {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; border-radius: 32px}
  .slider:before {position: absolute; content: ""; height: 55px; width: 55px; left: 5px; bottom: 5px; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 64px}
    
  .button { background-color: green; border: none; color: white; padding: 8px 12px;text-decoration: none; font-size: 10px; margin: 2px; cursor: pointer; border-radius: 3px}
  .button1 {background-color: rgb(8, 4, 247);color: white; padding: 6px 9px; font-size: 10px; margin: 0px; cursor: pointer; border-radius: 3px}
  .button2 {background-color: rgb(255, 0, 0);color: white; padding: 6px 11px; font-size: 10px; margin: 1px; cursor: pointer;border-radius: 3px}        
